#app-header {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  margin: 10px 0px 10px 0px;
}

#bandwith-app {
  padding: 0px 40px 0px 40px;
}

#visit-app {
  width: 100px;
  background-color: #E91E63;
  border-color: #E91E63;
  color: #fff;
  border-radius: 20px;
}

#visit-app:hover {
  background-color: #FF86AF;
  border-color: #FF86AF;
  color: #fff;
}

#visit-div {
  text-align: center;
}

.app-github {
  text-align: center;
  padding-bottom: 20px;
}

.app-mock {
  max-height: 390px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 20px;
}

.github-address {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
}

.github-link {
  width: 100%;
}

.github-link:visited {
  color: #000;
  text-decoration: none;
}

.icon {
  display: inline-block;
  height: 100%;
  width: 28px;
  padding-right: 0px;
  margin-right: 10px;
  margin-bottom: -8px;
}

.panel-button {
  width: 200px;
}

.panel-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;
}

.panel-description {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}
