button {
  width: 20%;
  height: 40px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  color: #000;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

button:focus {
  outline: none;
}

button:hover {
  border: 2px solid #E91E63;
  color: #E91E63;
  cursor: pointer;
}

input {
  width: 100%;
  height: 30px;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 10px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #E91E63;
}

textarea {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  margin-top: 15px;
  border: none;
}

textarea {
  outline: none;
}

.button-row {
  text-align: center;
}

.connect-row {
  padding-bottom: 40px;
  text-align: center;
}

.connect-row a img {
  display: inline-block;
  margin: auto;
  margin-bottom: -6px;
}

.contact-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  text-align: center;
}

.icon {
  height: 25px;
  width: 25px;
  padding: 0px 5px 0px 5px;
}

.social {
  width: 100%;
}

.subtitle {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  margin: 0px;
  margin-bottom: 4px;
  margin-right: 5px;
}

#contact {
  padding: 0px 40px 40px 40px;
}
