.header {
  font-family: 'Permanent Marker', cursive;
  padding: 20px 0px 20px 0px;
  margin: 0px 20px 0px 20px;
}

.link {
  text-decoration: none;
  color: #000;
}

.nav-link {
  display: inline-block;
  padding: 0px 15px 0px 15px;
}

#home {
  font-size: 30px;
  text-align: left;
}

#nav {
  font-size: 20px;
  text-align: right;
}
